<!doctype html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}| {{ SITENAME|striptags }}{% endblock %}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">

  {% if RFG_FAVICONS %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ SITEURL }}/manifest.json">
    <meta name="theme-color" content="#333333">
  {% endif %}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('default') }}.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/theme.css">




<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#8bb4e3">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="No Title">
<meta name="application-name" content="No Title">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

  {% if article %}
    {% for tag in article.ogtags %}
      <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
    {% endfor %}
  {% endif %}
  
  {% if page  %}
    {% for tag in page.ogtags %}
      <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
    {% endfor %}
  {% endif %}
    

  {% include 'include/xml_feeds.html' %}
  {% block head %}{% endblock %}
  {% include 'include/analytics.html' %}
</head>

<body>
  <header class="header" id="page_header"> 
    <div class="page-header">
      {% include 'include/header.html' %}
    </div>
  </header>

  <div class="main">
    <div class="container">
      <h2>{% block page_header %}{% endblock %}</h2>
      <hr>
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      {% include 'include/footer.html' %}
    </div>
  </footer>


  
</body>

</html>
