{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME|striptags }} | {{ SITESUBTITLE|striptags }} 
{% endblock %}


{% block page_header %}
  Recent tales
{% endblock %}


{% block content %}
  {% for article in articles_page.object_list %}
    <article class="row teaser">
      <header class="col-sm-3 text-muted">
       {% if DISPLAY_DATE_ON_ARTICLE_LIST or (not HIDE_AUTHORS and article.authors ) %} 
	<ul>
	  {% if DISPLAY_DATE_ON_ARTICLE_LIST %}
	    <li title="{{ article.date.isoformat() }}">
              <i class="fa fa-clock-o"></i>
	        {{ article.locale_date }}
	    </li>
	  {% endif %}
          {% if not HIDE_AUTHORS and article.authors %}
            <li>
              <i class="fa fa-user-o"></i>
              {% for author in article.authors %}
                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </li>
          {% endif %}
        </ul>
	{% endif %}
	{% if article.cover %}
      {# <img src="{{ SITEURL}}/{{ article.cover | thumbnail("800x_")  }}" width=100% /> #}
      <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ SITEURL}}/{{ article.cover }}" width=100% /></a>
	{% endif %}
      </header>
      <div class="col-sm-9">
        <h4 class="title">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </h4>
        <div class="content">
          {{ article.summary|striptags }}
        </div>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% include 'include/pagination.html' %}
{% endblock %}
