/* ----------------------- Page structure and header ----------------------- */

body {
  background-color: #f5f5f5;
  font-size: 18px;
  color: #5c5c5c;
}

.container {
  max-width: 800px;
}

.header{
  padding: .3rem 0rem 0 .6rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  margin: 0;

  /*
  -webkit-transition-property: height, background;
  transition-property: height, background;
  -webkit-transition-duration: .5s, .5s;
  transition-duration: .5s, .5s;
  -webkit-transition-timing-function: ease, ease;
  transition-timing-function: ease, ease;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  */
  /*padding: .5rem 0 0 .5rem;*/
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #f5f5f5;
}

.link_box{
  margin-top: 0.5rem;
  text-align: right;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 38%;
  max-width: 38%;
  padding-right: 5px;
  padding-left: 10px;
}


.header .text-muted {
  font-size: .72rem;
  font-family: sans-serif;
  font-weight: 500;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


.siteimagediv{
  padding-left: 0px;
  padding-right: 0px;
  min-width: 80px;
  max-width: 90px;
}

.titlediv{
  max-width: 49%;
  min-width: 400px;
}



/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.4s ease-in-out;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 52px;
}


.header img {
  margin-bottom: .5rem;
  width: 75px;
  opacity: 1;
}

.header .title {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.header ul,
.header li {
  margin-bottom: .2rem;
}

.header ul {
  font-size: 1.25rem;
  font-weight: 300;
  margin-right: 1rem;
  text-transform: lowercase;
}


/* ----------------------------- Main section ----------------------------- */


.main {
  background-color: #fff;
  padding: 8rem 0 3rem 0;
}

::selection {
  background: #0085a1;
  color: #fff;
  text-shadow: none;
}

a {
  color: #4E9FBE;
}

a:focus,
a:hover {
  color: #4E9FBE;
  text-decoration: none;
  text-shadow: 0px 0px 6px ;
}


blockquote {
  color: #818a91;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}


.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content {
  font-size: .94rem;
}

.teaser .content p {
  margin-bottom: 0;
  font-size: .94rem;
}

.article_list_text {
  max-width: 100%;
}
/* ---------------------------- Article section ---------------------------- */

.article header ul,
.article header li {
  margin-bottom: .5rem;
  font-size: .90rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}


.article #cover {
  max-width: 100%;
  max-height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.article img {
  max-width: 100%;
  max-height: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}


.article .article_list_img {
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-right: 5px;
    padding-left: 5px;
}

.article_footer{
  font-size: .85rem;
}

/*.article .content a {
  text-decoration: underline;
}
*/

.highlighttable {
    font-family: "Source Code Pro", monospace;
    font-size: 11px;
    overflow: auto;
    display: block;
    border: solid 1px #d9d9d9;
    border-radius: 3px;
    margin-bottom: 1.7rem;
}

.linenos {
    border-right: 1px solid #d9d9d9;
    background: #eee;
    padding: 0.5em 0.8em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.highlight {
    margin: 0 1em;
}


/* --------------------- Footer and pagination sections -------------------- */

.pagination .page-link {
  color: #333;
}

.footer {
  padding: 1.5rem 0 .5rem;
  border-top: 1px solid rgba(0,0,0,.1);
}

.page-footer {
  font-size: 12px;
}

.loaded {
  color: #999;
}

/* ------------------------------ Big Screens ------------------------------ */

@media (min-width: 760px) {
  .header .title {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }

  .header .siteimagediv {
    margin-left: .5rem;
  }

  h2 {
    font-size: 2rem;
  }


  h3 {
    font-size: 1.5rem;
  }
}

/* ----------------------------- Small screens ----------------------------- */

@media (max-width: 759px) {
  #sitesubtitle {
    font-size: 6px;
  }

  .siteimagediv {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .titlediv{
    max-width: 100%;
    min-width: 320px;
    padding-left: 0;
    padding-right: 0;
  }

  .header .text-muted {
    font-size: .8rem;
  }

  .header {
     position: absolute;
     margin-left: 0;
     text-align: center;
  }

  .link_box{
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }

  .main {
     padding: 14.9rem 0 3rem 0;
  }

  .header .title {
    font-size: 1.7rem;
    margin-top: 0.2rem;
  }

  .header ul {
    margin-bottom: .2rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
  }

  .footer {
     text-align: center;
     margin-left: 0;
     flex: none;
     max-width: 100%;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .h3 {
    font-size: .7rem;
  }

  .article #cover {
    max-width: 100%;
    max-height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }
  
  .article .article_list_img {
    max-width: 200px;
    max-height: 200px;
  }
  
  /*
  img.article_list_img {
    max-height: 200px;
  }*/

  .row {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}
