::selection {
  background: #0085a1;
  color: #fff;
  text-shadow: none;
}

body {
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
}

a {
  color: #333;
}

a:focus,
a:hover {
  color: #0085a1;
}

blockquote {
  color: #818a91;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

#page_header {
  position: fixed;
  z-index: 999;
  width: 100%;
  /* height: 9.5em; */
  top: 0;
  margin: 0;

  -moz-transition-property: height, background;
  -o-transition-property: height, background;
  -webkit-transition-property: height, background;
  transition-property: height, background;
  -moz-transition-duration: .5s, .5s;
  -o-transition-duration: .5s, .5s;
  -webkit-transition-duration: .5s, .5s;
  transition-duration: .5s, .5s;
  -moz-transition-timing-function: ease, ease;
  -o-transition-timing-function: ease, ease;
  -webkit-transition-timing-function: ease, ease;
  transition-timing-function: ease, ease;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  padding: .5rem 0 0 .5rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #f5f5f5;
}

/* ------------------------------------------------------------------------- */

.container {
  max-width: 800px;
}

.header{
  padding: 10.5rem 0 .5rem;
}



.footer {
  padding: 1.5rem 0 .5rem;
}

.header {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.header .text-muted {
  font-size: .96rem;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out
  z-index: 9999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}



.header img {
  margin-bottom: 1rem;
  max-width: 150px;
  opacity: 1;
}

.header .title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.header ul,
.header li {
  margin-bottom: .5rem;
}

.header ul {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: lowercase;
}

.main {
  background-color: #fff;
  padding: 12.5rem 0 3rem 0;
}

.footer {
  border-top: 1px solid rgba(0,0,0,.1);
}

div.row.page-footer {
  font-size: 12px;
}

.highlight pre {
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
}

.pagination .page-link {
  color: #333;
}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content {
  font-size: .94rem;
}

.teaser .content p {
  margin-bottom: 0;
  font-size: .94rem;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article img {
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}


.article_list_img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.article .content a {
  text-decoration: underline;
}


@media (min-width: 576px) {
  .header .title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  #siteimage {
    max-width: 25%;
  }

  #sitesubtitle {
    font-size: 6px; 
  }

  .header .text-muted {
    font-size: .7rem;
  }
      
  #page_header {
     position: absolute;
  }
  
  .main {
     padding: 18.5rem 0 3rem 0;
  }




  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }
}
