<div class="row">

  {% if SITEIMAGE %}
    <div class="col-sm-1 siteimagediv">
      <a href="{{ SITEURL }}">
        <img class="img-fluid rounded" id="siteimage" src="{{SITEURL}}/{{SITEIMAGES|random() }}" {{ SITEIMAGE_SIZE }} alt="{{ SITENAME|striptags }}">
      </a>
    </div>
  {% endif %}


  <div class="col-sm-{% if SITEIMAGES %}7{% else %}8{% endif %} titlediv">
    <h1 class="title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    {% if SITESUBTITLE %}
    <p class="text-muted" id="sistesubtitle">{{ SITESUBTITLE }}</p>
    {% endif %}
  </div>


    {% if LINKS or (DISPLAY_PAGES_ON_MENU and pages) or ICONS %}
    <div class="col-sm-4 link_box">
      <ul class="list-inline">
        
	{% if DISPLAY_PAGES_ON_MENU %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/index.html">Blog</a></li>
          
	  {% for page in pages %}
	    <li class="list-inline-item"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        {% endif %}

      </ul>
    {% endif %}
  </div>

</div>
