{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ article.summary|striptags }}">
{% endblock %}

{% block title %}
  {{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <article class="article">
    <header>
      <ul class="list-inline">
        <li class="list-inline-item text-muted" title="{{ article.date.isoformat() }}">
          <img class="icon" src="{{ SITEURL }}/images/socialicons/clock-o.svg">{{ article.locale_date }}
        </li>
        <li class="list-inline-item">
            <img class="icon" src="{{ SITEURL }}/images/socialicons/user-o.svg">
            {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %} 
            {% endfor %}
        </li>
        <li class="list-inline-item">
          <img class="icon" src="{{ SITEURL }}/images/socialicons/folder-open-o.svg">
          <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </li>


        
        
      </ul>
    </header>
    {% if article.cover %}
      <picture>
        <source id="cover" media="(min-width: 650px)" srcset="{{ SITEURL }}/{{ article.cover | thumbnail("1300x_") }}" alt="{{ article.title }}">
        <source id="cover" media="(min-width: 465px)" srcset="{{ SITEURL }}/{{ article.cover | thumbnail("650x_") }}" alt="{{ article.title }}">
        <img id="cover" src="{{ SITEURL }}/{{ article.cover }}" alt="{{ article.title }}">
      </picture>
    {% endif %}
    <div id="article-summary">
	    <p>{{ article.summary }}</p>
    </div>
    <div class="content">
      {{ article.content }}
  </div>
    <div class="article_footer">
	<hr>
	<ul class="list-inline">
        {% if article.tags %}
          <li class="list-inline-item">
            <img class="icon" src="{{ SITEURL }}/images/socialicons/files-o.svg">
            {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </li>
        {% endif %}
    </ul>
    </div>
    </article>
  {% include 'include/comments.html' %}
{% endblock %}
