{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME|striptags }}
{% endblock %}


{% block page_header %}
  Recent tales
{% endblock %}


{% block content %}
  {% for article in articles_page.object_list %}
    <article class="row teaser">
    {% if article.cover or DISPLAY_DATE_ON_ARTICLE_LIST or (not HIDE_AUTHORS and article.authors )%}
      <header class="col-sm-3 text-muted">

       {% if DISPLAY_DATE_ON_ARTICLE_LIST or (not HIDE_AUTHORS and article.authors ) %}
	      <ul>
          {% if DISPLAY_DATE_ON_ARTICLE_LIST %}
            <li title="{{ article.date.isoformat() }}">
                  <i class="fa fa-clock-o"></i>
                {{ article.locale_date }}
            </li>
          {% endif %}
          {% if not HIDE_AUTHORS and article.authors %}
            <li>
              <i class="fa fa-user-o"></i>
              {% for author in article.authors %}
                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </li>
          {% endif %}
          </ul>
	    {% endif %}

      <a href="{{ SITEURL }}/{{ article.url }}">
          <img alt="{{ article.title|striptags }}" class="article_list_img" src="{{ SITEURL}}/{{ article.cover | thumbnail("400x_") }}" width="100%"/>
      </a>

      </header>
      <div class="col-sm-9 article_list_text">
    {% else %}
        <div class="col-sm-12 article_list_text">
    {% endif %}
        <h3 class="title">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </h3>
       

        <div class="content">
        {% if article.summary %}
	      {{ article.summary|striptags }}
        {% else %}
          {{ article.content }}
        {% endif %}
        
        	<div class="extrainfo">
	        	{% if article.readtime %} Reading time: {{ article.readtime_string }} {% endif %}
        	</div>
        </div>
        
        
        
        
        
      </div>
    </article>
    <!--
    {% if not loop.last %}
      <hr>
    {% endif %}
    -->
  {% endfor %}
  {% include 'include/pagination.html' %}
{% endblock %}
