anyio==4.14.1
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.6.17
charset-normalizer==3.4.7
docutils==0.23
feedgenerator==2.2.1
idna==3.18
Jinja2==3.1.6
Markdown==3.3.7
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
minify_html==0.18.1
ordered-set==4.1.0
pelican==4.12.0
pelican-jinja2content==1.0.1
pelican-minify==2.0.2
pelican-neighbors==1.2.0
pelican-readtime==0.2.1
pelican-related-posts==1.0.0
pelican-sitemap==1.2.2
pillow==12.3.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
requests==2.34.2
rich==15.0.0
six==1.17.0
smartypants==2.0.2
soupsieve==2.8.4
typing_extensions==4.16.0
typogrify==2.1.0
Unidecode==1.4.0
urllib3==2.7.0
watchfiles==1.2.0
count-files
optimize-images-x[dnd]
