beautifulsoup4==4.6.0
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
csscompressor==0.9.5
docutils==0.14
entrypoints==0.2.3
feedgenerator==1.9
htmlmin==0.1.12
idna==2.6
Jinja2==2.10
joblib==0.11
keyring==12.0.0
Markdown==2.6.11
MarkupSafe==1.0
olefile==0.45.1
pelican==3.7.1
pelican-advthumbnailer==0.7.0
pelican-autostatic==0.2.2
pelican-minification==0.1.1
pelican-minify==0.9
Pillow==4.1.0
pyftpsync==2.0.0
Pygments==2.2.0
python-dateutil==2.7.1
pytz==2018.3
requests==2.18.4
six==1.11.0
smartypants==2.0.1
typogrify==2.0.7
Unidecode==1.0.22
urllib3==1.22
